@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gloria+Hallelujah&family=Syncopate:wght@400;700&display=swap');

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'South Park', 'Gloria Hallelujah', sans-serif;
    background-image: url('/images/classroom.jpeg');
    background-size: cover;
    background-position: 50% 60%;
    overflow: hidden;
}

.languages-container {
    margin-bottom: 6em;

    .english,
    .dutch {
        font-size: 0.7em;
    }
}

.top-container {
    margin-right: 3em;

    .top-heading-container {
        .top-heading {
            margin-top: 0.5em;
        }

        .buttons-wrapper {
            height: 15vh;
            display: flex;
            align-items: end;
            justify-content: center;

            .score-display {
                font-size: 1em;
            }

            .buttons-container {
                .btn-blue {
                    background-color: #396EB0;
                    color: white;
                    box-shadow: 0 0 2px #396EB0;

                    &:hover {
                        opacity: 80%;
                        color: white;
                    }
                }
            }

            .start-training-container {
                position: relative;
                z-index: 0;
                margin-top: 2em;

                .play-sound {
                    width: 11em;
                    height: 3em;
                    font-size: 1em;
                    margin-left: 7em;
                }

                .scale-btn {
                    &:hover {
                        opacity: 80%;
                        animation: scale 0.5s;
                    }
                }

                .btn-violet {
                    background-color: #DADDFC;
                    box-shadow: 0 0 2px #396EB0;
                }

                .finger {
                    position: absolute;
                    width: 7em;
                    top: 2.5em;
                    animation: translateFinger 1s infinite;
                }
            }

        }



    }
}

.instructions-and-nadav {
    .nadav-avatar {
        width: 35%;
        margin-top: -6em;
    }

    .instructions-container {
        z-index: 2;
        padding: 1em;
        background-color: #396EB0;
        margin-left: 2em;
        width: 25%;
        height: 20%;
        border-radius: 10px;
        box-shadow: 0 0 10px lightblue;
    }
}


//---Keyframes animation---//
@keyframes translateFinger {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }

}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }

}

//---Media queries---//

//iPad Pro
@media screen and (min-width:771px) and (max-width: 1025px) {

    .instructions-and-nadav {
        margin-top: -6em;

        .instructions-container {
            width: 38%;

            // margin-top: 3em;
            .instructions {
                font-size: 1.5em;
            }
        }

        .nadav-avatar {
            margin-left: -3em;
            width: 56%;
            margin-top: 0.2em;
        }
    }

    .top-container {
        .top-heading-container {
            .top-heading {
                margin-top: 3.2em;
                font-size: 4.6em;
            }

            .buttons-wrapper {
                height: 22vh;
                width: 99vw;

                .buttons-container {
                    margin-top: 2.5em;

                    .btn {
                        font-size: 2em !important;
                    }
                }

                .start-training-container {
                    margin-top: 6em;
                    margin-left: 19em;

                    .finger {
                        top: 2em;
                        left: 2em;
                    }

                    .play-sound {
                        margin-left: 6em;
                        margin-top: 0 !important;
                        font-size: 1.5em !important;
                    }
                }
            }
        }
    }
}

//iPad
@media all and (min-width: 416px) and (max-width:770px) {

    .instructions-and-nadav {
        margin-top: -2em;

        .instructions-container {
            width: 38%;
            right: 4.5em;
            top: 43em;
        }

        .nadav-avatar {
            margin-left: -3em;
            width: 56%;
        }
    }

    .top-container {
        .top-heading-container {
            .top-heading {
                margin-top: 3em;
                font-size: 3em;
            }

            .buttons-wrapper {
                height: 22vh;
                width: 99vw;

                .buttons-container {
                    margin-top: 1.5em;
                }

                .start-training-container {
                    margin-top: 3em;
                    margin-left: 18em;

                    .finger {
                        top: 1em;
                        left: -1em;
                    }

                    .play-sound {
                        margin-left: 6em;
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
}

//iPhone 6/7/8 plus
@media all and (min-width: 376px) and (max-width:415px) {

    .top-container {
        .top-heading-container {
            .top-heading {
                font-size: 1.5em;
                margin-top: 2.5em;
            }

            .buttons-wrapper {
                .score-display {
                    font-size: 0.5em;
                }

                .buttons-container {
                    .btn-blue {
                        font-size: 0.5em;
                    }
                }
            }

            .start-training-container {
                margin-top: 0 !important;

                .finger {
                    left: 1.5em;
                    top: 4em !important;
                }

                .play-sound {
                    margin-left: 9em !important;
                    margin-top: 3em !important;
                }
            }
        }


    }

    .instructions-and-nadav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .instructions-container {
            margin-left: 0;
            margin-top: -27em;
            width: 90%;
        }

        .nadav-avatar {
            margin-top: 5em;
            width: 70%;
        }
    }
}

//iPhone 6/7/8
@media all and (min-width:362px) and (max-width:376px) {

    .top-container {
        .top-heading-container {
            .top-heading {
                font-size: 1.5em;
                margin-top: 1.5em;
            }

            .buttons-wrapper {
                .score-display {
                    font-size: 0.5em;
                }

                .buttons-container {
                    .btn-blue {
                        font-size: 0.5em;
                    }
                }

                .start-training-container {
                    margin-top: 0.5em;

                    .finger {
                        left: 1.5em;
                        top: 3em !important;
                    }

                    .play-sound {
                        margin-left: 8em;
                    }
                }
            }
        }


    }

    .instructions-and-nadav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .instructions-container {
            margin-left: 0;
            margin-top: -25em;
            width: 90%;
        }

        .nadav-avatar {
            margin-top: 5em;
            width: 70%;
        }
    }
}

//Galaxy s5
@media all and (min-width: 321px) and (max-width:361px) {

    .top-container {
        .top-heading-container {
            .top-heading {
                font-size: 1.5em;
                margin-top: 1.5em !important;
            }

            .buttons-wrapper {
                .score-display {
                    font-size: 0.5em;
                }

                .buttons-container {
                    .btn-blue {
                        font-size: 0.5em;
                    }
                }

                .start-training-container {
                    margin: 0;

                    .finger {
                        left: 1.5em;
                        top: 3em !important;
                    }

                    .play-sound {
                        margin-left: 9em;
                    }
                }
            }

        }
    }

    .instructions-and-nadav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .instructions-container {
            margin-left: 0.5em;
            margin-top: -24em;
            width: 90%;
        }

        .nadav-avatar {
            margin-top: 5em;
            width: 70%;
        }
    }
}

//iPhone SE
@media all and (min-width:10px) and (max-width: 320px) {

    .top-container {
        .top-heading-container {
            .top-heading {
                font-size: 1em !important;
                margin-top: 0.5em;
            }

            .buttons-wrapper {
                .score-display {
                    font-size: 0.5em;
                }

                .buttons-container {
                    width: 20em;

                    .btn-blue {
                        font-size: 0.5em;
                    }
                }

                .start-training-container {
                    margin-top: 0 !important;

                    .finger {
                        left: 1.5em;
                        top: 2em !important;
                    }

                    .play-sound {
                        margin-left: 7em;
                        margin-top: 1em !important;
                    }
                }
            }
        }

    }

    .instructions-and-nadav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .instructions-container {
            margin-left: 0;
            margin-top: -26em;
            width: 90%;
        }

        .nadav-avatar {
            margin-top: 5em;
            width: 70%;
        }
    }
}
